# Pandas DataFrames
DataFrames are tabular representations of data, like in Microsoft Excel.

In [118]:
import numpy as np
import pandas as pd

In [119]:
from numpy.random import randn

In [120]:
# set a seed to receive the same random numbers from numpy
np.random.seed(101)

In [121]:
"""
like Series, it has a data and index parameters,
but DataFrames have a columns parameters as the 3rd parameter
"""
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

"""
data is the data parameter, the rows are the index
parameter, columns are the column parameter
"""
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Indexing a DataFrame using Columns

In [122]:
# show that the df is a DataFrame type
df_type = type(df) # DataFrame
print(df_type)

# index the "W" column, and show that it's a Series type
w_series = df["W"]
w_type = type(w_series) # Series
print(w_type)

w_series

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [123]:
# another way to also index a column is the "SQL" style (not recommened)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [124]:
"""
index the "W" and "Z" columns, returns as a
DataFrame because it requires multiple column
"""
w_z_df = df[["W", "Z"]]
print(type(w_z_df))

w_z_df

<class 'pandas.core.frame.DataFrame'>

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [125]:
# create a "new" column onto df as a sum of column "W" and "Y"
df["new"] = df["W"] + df["Y"]

df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [126]:
"""
delete (drop) the "new" column from df

axis=0 (default) refers to deleting an index (row),
axis=1 refers to deleting a column,
inplace=True means to modify the DataFrame (safety measure in Pandas)
"""
df.drop("new", axis=1)

# if you see, the "new" column actually did NOT get removed
print(df)

# you can use df = df.drop("new", axis=1)
# better yet, or use inplace=True in order to modify the DataFrame
df.drop("new", axis=1, inplace=True)
print(df)

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [127]:
# drop the "E" row, but not inplace so it doesn't actually modify it
df.drop("E")

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [128]:
# returns (rows, columns) it's also why axis=0 is rows and axis=1 is columns
df.shape

(5, 4)

### Indexing a DataFrame using Rows

In [129]:
# returns a Series of the data in the "A" index/row
print(df.loc["A"])
print()

# return a Series of the data in the 0th index/row
print(df.iloc[0])

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [130]:
# return the value at row B, column Y
print(df.loc["B", "Y"])

df

-0.8480769834036315

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [131]:
# return a DataFrame of data at rows A and B, and columns W and Y
print(df.loc[['A', 'B'], ['W', 'Y']])

df

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509