# Pandas Missing Data
Sometimes there may be missing data in Pandas, so we can fill those missing values into the DataFrame without having to use NaN or null values.

In [12]:
import numpy as np
import pandas as pd

In [13]:
# create a data dictionary with some NumPy NaN values
data = {"A": [1, 2, np.nan], "B": [5, np.nan, np.nan], "C": [1, 2, 3]}

# create a Pandas DataFrame using the keys as columns and values at data|
df = pd.DataFrame(data)

df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [14]:
# drop any row with NaN or null values, must inplace=True to modify DF
print(df.dropna(axis=0))
print()

# drop any column with NaN or null values, must inplace=True to modify DF
print(df.dropna(axis=1))
print()

# drop any rows that have 2 or more NaN or null values
print(df.dropna(axis=0, thresh=2))

     A    B  C
0  1.0  5.0  1

   C
0  1
1  2
2  3

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [15]:
# fill any NaN elements to 0, must inplace=True to modify DF
df.fillna(0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [16]:
# fill any NaN elements of column A to the mean of column A
df["A"].fillna(df["A"].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64