# Aggregate Functions
These are built-in functions to the SQL language. Let's learn some of them!

Let's first connect to the "acme" database as the "pravat" user.

In [1]:
# import the python mysql driver
import pymysql

In [2]:
# connect to the "acme" database as the "pravat" user
connection = pymysql.connect(
    host="localhost",
    user="pravat",
    password="12345",
    database="acme",
    autocommit=True
)
cursor = connection.cursor(pymysql.cursors.DictCursor)

# Function Examples
COUNT, MAX, MIN, SUM, UCASE, and LCASE are some examples of aggregate functions.

Let's use these aggregate functions on the "users" table.

In [35]:
# select the number of ids received from the query
cursor.execute("SELECT COUNT(id) FROM users")
cursor.fetchall()

[{'COUNT(id)': 5}]

In [37]:
# select the maximum (greatest) id from the query
cursor.execute("SELECT MAX(id) FROM users")
cursor.fetchall()

[{'MAX(id)': 5}]

In [38]:
# select the minimum (smallest) id from the query
cursor.execute("SELECT MIN(id) FROM users")
cursor.fetchall()

[{'MIN(id)': 1}]

In [39]:
# sum up the ids from the query
cursor.execute("SELECT SUM(id) FROM users")
cursor.fetchall()

[{'SUM(id)': Decimal('15')}]

In [40]:
# select the upper case first names and and lower case last names from the query
cursor.execute("SELECT UCASE(first_name), LCASE(last_name) FROM users")
cursor.fetchall()

[{'UCASE(first_name)': 'JOHN', 'LCASE(last_name)': 'doe'},
 {'UCASE(first_name)': 'FRED', 'LCASE(last_name)': 'smith'},
 {'UCASE(first_name)': 'SARA', 'LCASE(last_name)': 'watson'},
 {'UCASE(first_name)': 'WILL', 'LCASE(last_name)': 'jackson'},
 {'UCASE(first_name)': 'PAULA', 'LCASE(last_name)': 'johnson'}]

# SELECT GROUP BY
Groups rows that have the same value into rows, often used with aggregate functions to group the result. Typically GROUP BY works well with aggregate functions since the function can quantify the values in its individual groups.

Syntax Format for GROUP BY:
```sql
SELECT c1, c2, ... , cn, aggregate_function(ci)
FROM table WHERE conditions GROUP BY c1, c2, ... cn;
```
- The ```aggregate_function``` is optional
- The ```WHERE``` clause is optional

Let's use the GROUP BY on the "users" table.

In [67]:
# select the location and count how many locations, grouping each row with the same location
cursor.execute("SELECT location, COUNT(location) FROM users GROUP BY location")
cursor.fetchall()

[{'location': 'Texas', 'COUNT(location)': 1},
 {'location': 'New York', 'COUNT(location)': 2},
 {'location': 'Rhode Island', 'COUNT(location)': 1},
 {'location': 'Massachusetts', 'COUNT(location)': 1}]

# SELECT HAVING
Unlike WHERE which applies to the condition on the rows before the rows are grouped together, HAVING is used after the rows are grouped into groups.

Let's use HAVING on the "users" table.

In [72]:
# group each row with the same location and get the locations with a COUNT equal to 1
cursor.execute(
    """
    SELECT location, COUNT(location) AS location_count FROM users
    GROUP BY location HAVING location_count = 1
    """
)
cursor.fetchall()

[{'location': 'Texas', 'location_count': 1},
 {'location': 'Rhode Island', 'location_count': 1},
 {'location': 'Massachusetts', 'location_count': 1}]