# CRUD Queries
Now that we've initialized the environment, we can begin managing environment. In this lecture, we're going to use CRUD (Create, Read, Update, and Delete) queries on the "acme" database.

Let's first connect to the "acme" database as the "pravat" user.

In [1]:
# import the python mysql driver
import pymysql

In [2]:
# connect to the "acme" database as the "pravat" user
connection = pymysql.connect(
    host="localhost",
    user="pravat",
    password="12345",
    database="acme"
)
cursor = connection.cursor(pymysql.cursors.DictCursor)

### Reset Tables
In case you mess up during the configuration of a table, the function was created below to reset it.

In [3]:
# reset a table
def reset_table(name):
    cursor.execute("DELETE FROM " + name)
    cursor.execute("ALTER TABLE " + name + " AUTO_INCREMENT = 1")
    
# reset all tables
reset_table("users")
reset_table("posts")
reset_table("comments")

# INSERT (Create)
Let's insert new users into the "users" table.

In [4]:
# insert a user named "John Doe"
cursor.execute(
    """
    INSERT INTO users(
        first_name, last_name, email, password, location, dept, is_admin, register_date
    ) VALUES (
        'John', 'Doe', 'john@gmail.com', '12345', 'Texas', 'development', 1, now()
    )
    """
)

1

In [5]:
# insert multiple users
cursor.execute(
    """
    INSERT INTO users (
        first_name, last_name, email, password, location, dept, is_admin, register_date
    ) VALUES
        ('Fred', 'Smith', 'fred@gmail.com', '12345', 'New York', 'design', 0, now()),
        ('Sara', 'Watson', 'sara@gmail.com', '12345', 'New York', 'design', 0, now()),
        ('Will', 'Jackson', 'will@yahoo.com', '12345', 'Rhode Island', 'development', 1, now()),
        ('Paula', 'Johnson', 'paula@yahoo.com', '12345', 'Massachusetts', 'sales', 0, now()),
        ('Tom', 'Spears', 'tom@yahoo.com', '12345', 'Massachusetts', 'sales', 0, now())
    """
)

5

# UPDATE
Let's update a row from the "users" table.

In [6]:
cursor.execute("UPDATE users SET email='freddy@gmail.com' WHERE id=2")

1

# DELETE
Let's delete a row from the "users" table.

In [7]:
# delete the user with id equal to 6
cursor.execute("DELETE FROM users WHERE id=6")

1

# SELECT (Read)
Let's read (select) users from the "users" table.

In [8]:
# select all columns, denoted by the asterisk, of the "users" table
cursor.execute("SELECT * FROM users")
cursor.fetchall()

[{'id': 1,
  'first_name': 'John',
  'last_name': 'Doe',
  'email': 'john@gmail.com',
  'password': '12345',
  'location': 'Texas',
  'dept': 'development',
  'is_admin': 1,
  'register_date': datetime.datetime(2019, 8, 12, 14, 55, 26)},
 {'id': 2,
  'first_name': 'Fred',
  'last_name': 'Smith',
  'email': 'freddy@gmail.com',
  'password': '12345',
  'location': 'New York',
  'dept': 'design',
  'is_admin': 0,
  'register_date': datetime.datetime(2019, 8, 12, 14, 55, 26)},
 {'id': 3,
  'first_name': 'Sara',
  'last_name': 'Watson',
  'email': 'sara@gmail.com',
  'password': '12345',
  'location': 'New York',
  'dept': 'design',
  'is_admin': 0,
  'register_date': datetime.datetime(2019, 8, 12, 14, 55, 26)},
 {'id': 4,
  'first_name': 'Will',
  'last_name': 'Jackson',
  'email': 'will@yahoo.com',
  'password': '12345',
  'location': 'Rhode Island',
  'dept': 'development',
  'is_admin': 1,
  'register_date': datetime.datetime(2019, 8, 12, 14, 55, 26)},
 {'id': 5,
  'first_name': 'Paula',
  'last_name': 'Johnson',
  'email': 'paula@yahoo.com',
  'password': '12345',
  'location': 'Massachusetts',
  'dept': 'sales',
  'is_admin': 0,
  'register_date': datetime.datetime(2019, 8, 12, 14, 55, 26)}]

In [9]:
# select only the first and last name columns of the "users" table
cursor.execute("SELECT first_name, last_name FROM users")
cursor.fetchall()

[{'first_name': 'John', 'last_name': 'Doe'},
 {'first_name': 'Fred', 'last_name': 'Smith'},
 {'first_name': 'Sara', 'last_name': 'Watson'},
 {'first_name': 'Will', 'last_name': 'Jackson'},
 {'first_name': 'Paula', 'last_name': 'Johnson'}]

In [10]:
# select the first_name column where the user's location equals Texas
cursor.execute("SELECT first_name FROM users WHERE location='Texas'")
cursor.fetchall()

[{'first_name': 'John'}]

In [11]:
# select the email column where the user's location equals Rhode Island and is_admin > 0
cursor.execute("SELECT email FROM users WHERE location='Rhode Island' AND is_admin > 0")
cursor.fetchall()

[{'email': 'will@yahoo.com'}]