# Table Queries
Let's modify the tables and their structure in the "acme" database.

Let's first connect to the "acme" database as the "pravat" user.

In [1]:
# import the python mysql driver
import pymysql

In [2]:
# connect to the "acme" database as the "pravat" user
connection = pymysql.connect(
    host="localhost",
    user="pravat",
    password="12345",
    database="acme",
    autocommit=True
)
cursor = connection.cursor(pymysql.cursors.DictCursor)

# Delete Column
Let's delete a column from the "users" table.

Unlike other DROP commands, we cannot check IF EXISTS for a table. Therefore, running this command when the column does not exist will throw an error.

In [3]:
# delete the "age" column
cursor.execute("ALTER TABLE users DROP COLUMN age")

0

# Add Column
Let's add a new column to the "users" table.

In [4]:
# add the "age" column with data type of VARCHAR(3)
cursor.execute("ALTER TABLE users ADD COLUMN age VARCHAR(3)")

0

# Modify Column
Let's modify a column in the "users" table.

In [5]:
# modify the "age" column by setting its data type to INT(3)
cursor.execute("ALTER TABLE users MODIFY COLUMN age INT(3)")

5

# ORDER BY
We can order results of a query.

Let's read the data from the "users" table as ascending and descending sorted order.

In [11]:
# select the users in ascending order by id
cursor.execute("SELECT id FROM users ORDER BY id ASC")
cursor.fetchall()

[{'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}]

In [12]:
# select the users in descending order by id
cursor.execute("SELECT id FROM users ORDER BY id DESC")
cursor.fetchall()

[{'id': 5}, {'id': 4}, {'id': 3}, {'id': 2}, {'id': 1}]

# SELECT Concatenated Columns
Let's read two concatenated columns as one.

In [16]:
# select a concatenated first_name and last_name column and the department column
cursor.execute("SELECT CONCAT(first_name, ' ', last_name) AS 'name', dept FROM users")
cursor.fetchall()

[{'name': 'John Doe', 'dept': 'development'},
 {'name': 'Fred Smith', 'dept': 'design'},
 {'name': 'Sara Watson', 'dept': 'design'},
 {'name': 'Will Jackson', 'dept': 'development'},
 {'name': 'Paula Johnson', 'dept': 'sales'}]

# SELECT Distinct Columns
Let's read unique values from a column.

In [19]:
# select the distinct (unique) locations from the location column
cursor.execute("SELECT DISTINCT location FROM users")
cursor.fetchall()

[{'location': 'Texas'},
 {'location': 'New York'},
 {'location': 'Rhode Island'},
 {'location': 'Massachusetts'}]

# SELECT BETWEEN
Let's select between values for a column.

In [26]:
# select the ids between 1 and 3
cursor.execute("SELECT id FROM users WHERE id BETWEEN 1 AND 3")
cursor.fetchall()

[{'id': 1}, {'id': 2}, {'id': 3}]

# SELECT LIKE
Let's match values from a column using formatted Strings.

In [43]:
# select the dept in departments that start in "de"
cursor.execute("SELECT dept FROM users WHERE dept LIKE 'de%'")
cursor.fetchall()

[{'dept': 'development'},
 {'dept': 'design'},
 {'dept': 'design'},
 {'dept': 'development'}]

In [44]:
# select the dept in departments that end in "t"
cursor.execute("SELECT dept FROM users WHERE dept LIKE '%t'")
cursor.fetchall()

[{'dept': 'development'}, {'dept': 'development'}]

In [45]:
# select the dept in departments that have an a "s"
cursor.execute("SELECT dept FROM users WHERE dept LIKE '%s%'")
cursor.fetchall()

[{'dept': 'design'}, {'dept': 'design'}, {'dept': 'sales'}]

In [46]:
# select the dept in departments that do NOT have an a "s"
cursor.execute("SELECT dept FROM users WHERE dept NOT LIKE '%s%'")
cursor.fetchall()

[{'dept': 'development'}, {'dept': 'development'}]

# SELECT IN
Let's match values from a list of values. This works the same as the AND operator, but it's used to shorten the syntax in case we need a long list of matching values.

In [50]:
# select the dept in departments that "design" and "sales"
cursor.execute("SELECT dept FROM users WHERE dept IN('design', 'sales')")
cursor.fetchall()

[{'dept': 'design'}, {'dept': 'design'}, {'dept': 'sales'}]