# Table Relationships
In relational databases, tables are considered to be related particularly through primary and foreign keys. We'll use this concept to relate tables together and perform common operations on them.

Let's first connect to the "acme" database as the "pravat" user.

In [1]:
# import the python mysql driver
import pymysql

In [2]:
# connect to the "acme" database as the "pravat" user
connection = pymysql.connect(
    host="localhost",
    user="pravat",
    password="12345",
    database="acme",
    autocommit=True
)
cursor = connection.cursor(pymysql.cursors.DictCursor)

### Add Data to Posts and Comments Table
This is just a pre-requisite to convey the idea of relational databases.

In [4]:
cursor.execute(
    """
    INSERT INTO posts(user_id, title, body) VALUES
        (1, 'Post One', 'This is post one'),
        (3, 'Post Two', 'This is post two'),
        (1, 'Post Three', 'This is post three'),
        (2, 'Post Four', 'This is post four'),
        (5, 'Post Five', 'This is post five'),
        (4, 'Post Six', 'This is post six'),
        (2, 'Post Seven', 'This is post seven'),
        (1, 'Post Eight', 'This is post eight'),
        (3, 'Post Nine', 'This is post none'),
        (4, 'Post Ten', 'This is post ten');
    """
)

10

In [5]:
cursor.execute(
    """
    INSERT INTO comments(post_id, user_id, body) VALUES
        (1, 3, 'This is comment one'),
        (2, 1, 'This is comment two'),
        (5, 3, 'This is comment three'),
        (2, 4, 'This is comment four'),
        (1, 2, 'This is comment five'),
        (3, 1, 'This is comment six'),
        (3, 2, 'This is comment six'),
        (5, 4, 'This is comment seven'),
        (2, 3, 'This is comment seven');
    """
)

9

# JOIN
A JOIN allows us to SELECT data from two different tables that are related through their keys.
- (INNER) JOIN: Returns records that have matching values in both tables
- LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
- RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
- FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table

<img src="images/lectures/joins.png" height="50%" width="50%"></img>
- https://www.w3schools.com/sql/sql_join.asp
- https://letsdobigdata.wordpress.com/2016/03/02/hive-joins/

### INNER JOIN
Let's do an INNER JOIN on the "users" table.

In [20]:
# select the posts of each user
cursor.execute(
    """
    SELECT
        users.first_name,
        users.last_name,
        posts.title,
        posts.publish_date
    FROM users
    INNER JOIN posts ON users.id = posts.user_id
    """
)
cursor.fetchall()

[{'first_name': 'John',
  'last_name': 'Doe',
  'title': 'Post One',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'John',
  'last_name': 'Doe',
  'title': 'Post Three',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'John',
  'last_name': 'Doe',
  'title': 'Post Eight',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Fred',
  'last_name': 'Smith',
  'title': 'Post Four',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Fred',
  'last_name': 'Smith',
  'title': 'Post Seven',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Sara',
  'last_name': 'Watson',
  'title': 'Post Two',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Sara',
  'last_name': 'Watson',
  'title': 'Post Nine',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Will',
  'last_name': 'Jackson',
  'title': 'Post Six',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Will',
  'last_name': 'Jackson',
  'title': 'Post Ten',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)},
 {'first_name': 'Paula',
  'last_name': 'Johnson',
  'title': 'Post Five',
  'publish_date': datetime.datetime(2019, 8, 12, 16, 21, 2)}]

### INNER MULTIPLE JOIN
Let's do multiple inner joins on the "users" table.

In [24]:
# select the comments of each user's post
cursor.execute(
    """
    SELECT
        comments.body,
        posts.title,
        users.first_name,
        users.last_name
    FROM comments
    INNER JOIN posts ON posts.id = comments.post_id
    INNER JOIN users ON users.id = comments.user_id
    ORDER BY posts.title;
    """
)
cursor.fetchall()

[{'body': 'This is comment three',
  'title': 'Post Five',
  'first_name': 'Sara',
  'last_name': 'Watson'},
 {'body': 'This is comment seven',
  'title': 'Post Five',
  'first_name': 'Will',
  'last_name': 'Jackson'},
 {'body': 'This is comment five',
  'title': 'Post One',
  'first_name': 'Fred',
  'last_name': 'Smith'},
 {'body': 'This is comment one',
  'title': 'Post One',
  'first_name': 'Sara',
  'last_name': 'Watson'},
 {'body': 'This is comment six',
  'title': 'Post Three',
  'first_name': 'John',
  'last_name': 'Doe'},
 {'body': 'This is comment six',
  'title': 'Post Three',
  'first_name': 'Fred',
  'last_name': 'Smith'},
 {'body': 'This is comment two',
  'title': 'Post Two',
  'first_name': 'John',
  'last_name': 'Doe'},
 {'body': 'This is comment seven',
  'title': 'Post Two',
  'first_name': 'Sara',
  'last_name': 'Watson'},
 {'body': 'This is comment four',
  'title': 'Post Two',
  'first_name': 'Will',
  'last_name': 'Jackson'}]